body{
    font-family: "Rubik Mono One", monospace;
    color: #fff;
    background-color: #dd5212;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 }
 .wave{
    -webkit-box-reflect: below 0 linear-gradient(transparent, rgba(255, 255, 255, 0.336));
 }
 .wave span{
    display: inline-block;
    font-size: 5vw;
    animation: wave 1s infinite calc(.1s*var(--i));
 }
 @keyframes wave{
    0%, 30%, 60%, 100%{
       transform: translateY(0);
    }
    20%{
       transform: translateY(-20px);
    }
 }